---
title: Cafe VLC
description: 'Un buen café, un buen libro, un placer.'
image: /Marc-Café_De_Las_Horas_Valencia_3.jpg
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Make a new friend today</h1>
			<p class="subtext editable">
				Un buen caf&eacute;, un buen libro, un placer.
			</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Cafeteria
				</h2>
				<p class="editable">
					Un maravilloso rinc&oacute;n donde descansar y relajarte con tus lecturas favoritas.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Tertulia
				</h2>
				<p class="editable">
					El mejor entorno para charlar con otros apasionados a la literatura, descubre nuevas amistades.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Cursos, talleres
				</h2>
				<p class="editable">
					Siempre aprendiendo, conferencias, talleres, presentaciones ...<br />Tu decides cuanto quieres aprender.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
